author "{{ ansible_ssh_user }}"
description "start and stop on Ubuntu (upstart)"
version "1.0"

start on started networking
stop on runlevel [!2345]

env APPUSER="{{ ansible_ssh_user }}"
env APPDIR="/usr/bin"
env APPBIN="java"
env APPARGS="-jar /home/{{ ansible_ssh_user }}/{{ tika_file }} -h 0.0.0.0 -p 9998"

respawn

script
  exec su - $APPUSER -c "$APPDIR/$APPBIN $APPARGS"
end script